/*navbar*/
nav{
	position:fixed;
	height:50px;
	width:100%;
	background-color:blue;
	margin:0px;
}
p{
	display:inline-block;
}
.pp1{
	margin-left:70px;
}
.pp2{
	margin-left:1000px;
}
/*body*/
body{
	background-image:url("../images/back.jpg");
	background-repeat:repeat;
	background-size:300px;
}